body {

  background-color: paleturquoise;
}

.counter {
  margin:50px auto;
  width: 600px;
  height: 400px;
  display: flex;
 justify-content: space-evenly;
 background-color: white;
 border-radius: 5px;
 box-shadow: 0 0 10px black;
 
}
